@import "tailwindcss";

@theme{
  --color-secondary-fixed-dim: #d2d5d5;
  --color-surface-bright: #f9f9f9;
  --color-on-background: #2d3435;
  --color-primary-fixed-dim: #d6d4d3;
  --color-primary: #5f5e5e;
  --color-on-secondary-container: #4f5253;
  --color-error-container: #fe8983;
  --color-outline-variant: #adb3b4;
  --color-on-primary-container: #525151;
  --color-surface-variant: #dde4e5;
  --color-on-tertiary-fixed-variant: #486272;
  --color-on-tertiary-container: #3e5868;
  --color-surface-dim: #d4dbdd;
  --color-on-primary-fixed-variant: #5c5b5b;
  --color-tertiary-container: #d0ecff;
  --color-on-surface: #2d3435;
  --color-secondary-container: #e1e3e3;
  --color-inverse-on-surface: #9c9d9d;
  --color-on-secondary: #f7f9fa;
  --color-on-primary-fixed: #403f3f;
  --color-secondary: #5c6060;
  --color-on-primary: #faf7f6;
  --color-error-dim: #4e0309;
  --color-tertiary-fixed-dim: #c2def0;
  --color-primary-dim: #535252;
  --color-inverse-primary: #ffffff;
  --color-surface-container-highest: #dde4e5;
  --color-on-tertiary-fixed: #2c4655;
  --color-on-error: #fff7f6;
  --color-surface-container-high: #e4e9ea;
  --color-primary-container: #e5e2e1;
  --color-on-error-container: #752121;
  --color-primary-fixed: #e5e2e1;
  --color-inverse-surface: #0c0f0f;
  --color-error: #9f403d;
  --color-tertiary-dim: #3c5666;
  --color-secondary-fixed: #e1e3e3;
  --color-tertiary-fixed: #d0ecff;
  --color-surface-container: #ebeeef;
  --color-surface-tint: #5f5e5e;
  --color-outline: #757c7d;
  --color-secondary-dim: #505454;
  --color-on-surface-variant: #5a6061;
  --color-on-tertiary: #f4faff;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary: #486272;
  --color-on-secondary-fixed: #3c4040;
  --color-surface: #f9f9f9;
  --color-surface-container-low: #f2f4f4;
  --color-background: #f9f9f9;
  --color-on-secondary-fixed-variant: #595c5d;

  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  color-scheme: light;
}

body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}